@use 'base/variables';
@use 'base/reset';
@use 'utilities/mixins';
@use 'utilities/animations';
@use 'layout/header';
@use 'layout/footer';
@use 'components/buttons';
@use 'components/cards';
@use 'components/modal';

/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$font-main;
}

body {
    background-color: variables.$color-bg;
    color: variables.$color-text;
}